/CMakeFiles/
__pycache__
*.pyc
*.cmake
/_deps/
.cache*
_deps/pybind11-build/CMakeFiles/progress.marks

# _deps/pybind11-subbuild/Makefile


.cache/v/cache/lastfailed

detumble/magnetometer_bias_estimation/Bias Estimation Example.png

detumble/magnetometer_bias_estimation/Bias Estimation Using Minimum Bounding ellipsoid.png

*.asv

detumble/magnetometer_bias_estimation/Bias Estimation Using Minimum Bounding ellipsoid 2.png

detumble/magnetometer_bias_estimation/spacecraft_design_example.m


detumble/cpp/bias

Makefile.txt



CMakeCache.txt

Makefile
