euler/__pycache__/Euler.cpython-37.pyc
util_funcs/test/__pycache__/test_time_functions.cpython-37-pytest-5.0.1.pyc
util_funcs/__pycache__/time_functions.cpython-37.pyc
util_funcs/__pycache__/sun_utils.cpython-37.pyc
util_funcs/__pycache__/frame_conversions.cpython-37.pyc
util_funcs/__pycache__/__init__.cpython-37.pyc
__pycache__/test_TRIAD.cpython-37-pytest-5.0.1.pyc
TRIAD/__pycache__/deterministic_ad.cpython-37.pyc
TRIAD/__pycache__/__init__.cpython-37.pyc
.cache/
.idea/
.vs/
cmake-build-debug/
documentation.wiki/
orbit_propagation/orbit_prop_py/test/__pycache__/
orbit_propagation/test/__pycache__/
util_funcs/.cache/
util_funcs/test/__pycache__/

MEKF/MEKF_py/__pycache__/
TRIAD/py_funcs/__pycache__/
util_funcs/py_funcs/__pycache__/

_deps/pybind11-build/CMakeFiles/CMakeDirectoryInformation.cmake

_deps/pybind11-build/Makefile
_deps/
CMakeFiles/

_deps/pybind11-subbuild/CMakeCache.txt

util_funcs/__pycache__/

TRIAD/test/__pycache__/
