/CMakeFiles/
__pycache__
*.pyc
*.so
*.cmake
/_deps/
# _deps/pybind11-build/CMakeFiles/progress.marks

# _deps/pybind11-build/Makefile

# _deps/pybind11-build/pybind11.cbp

# _deps/pybind11-subbuild/CMakeCache.txt

# _deps/pybind11-subbuild/CMakeFiles/CMakeRuleHashes.txt

# _deps/pybind11-subbuild/CMakeFiles/Makefile2

# _deps/pybind11-subbuild/CMakeFiles/pybind11-populate.dir/build.make

# _deps/pybind11-subbuild/CMakeFiles/pybind11-populate.dir/Labels.json

# _deps/pybind11-subbuild/CMakeFiles/pybind11-populate.dir/Labels.txt

# _deps/pybind11-subbuild/CMakeFiles/TargetDirectories.txt

# _deps/pybind11-subbuild/CMakeLists.txt

# _deps/pybind11-subbuild/Makefile


.cache/v/cache/lastfailed

detumble/magnetometer_bias_estimation/Bias Estimation Example.png

detumble/magnetometer_bias_estimation/Bias Estimation Using Minimum Bounding ellipsoid.png

*.asv

detumble/magnetometer_bias_estimation/Bias Estimation Using Minimum Bounding ellipsoid 2.png

detumble/magnetometer_bias_estimation/spacecraft_design_example.m

